{{extend './_layouts/home.html'}}

{{block 'title'}}{{'苏州奥诺生物技术 - 关于我们'}}{{/block}}
{{block 'head'}}
<style>
    .headerbg .gwidth .nav_left li:nth-of-type(2) a{
        color: red;
    }
</style>
{{/block}}
{{block 'body'}}
<section class="commonmain">
    <div class="gwidth aonuotitle">
        <img src="/public/img/aboutaonuobg.png" alt="">
        <p>一家专注于母婴行业，提供专业化，个性化的母婴连锁品牌</p>
    </div>
    <p class="gwidth aonuoabout">
        观前一号国际母婴会所”，隶属于苏州奥诺生物技术有限公司，一家专注于母婴行业，提供专业化，个性化的母婴连锁品牌。打通线上与线下，线上购物，线下体验，连锁经营。真正 打造一个F2C+O2O+倍增+分享经济+大数据+科技智能化+连锁经营+消费联盟的一个母婴行业的跨界商业模式，我们打破传统电商运营模式，运用“颠覆”的理念，会员制经营，从 商家直接到消费者，没有中间环节，为每一个家庭提供高品质，低价位的综合系列的产品服务。 观前一号，已通过国家商标局正式注册商标，品牌创立已有3年历史，起源于“上有天堂，下有苏杭”的苏州古城中心的观前街，是苏州旅游的必去之地。因其地处玄妙观前而得名，得 名迄今已有150多年的历史
    </p>
    <div class="gwidth swiper-container aboutaonuous">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="/public/img/prolunbo.png" alt=""></div>
            <div class="swiper-slide"><img src="/public/img/prolunbo.png" alt=""></div>
            <div class="swiper-slide"><img src="/public/img/prolunbo.png" alt=""></div>
            <div class="swiper-slide"><img src="/public/img/prolunbo.png" alt=""></div>
            <div class="swiper-slide"><img src="/public/img/prolunbo.png" alt=""></div>
            <div class="swiper-slide"><img src="/public/img/prolunbo.png" alt=""></div>
        </div>
    </div>
</section>

{{/block}}
