{{extend './_layouts/homein.html'}}

{{block 'title'}}{{'苏州奥诺生物技术 - 首页'}}{{/block}}
{{block 'head'}}
<style>
    .headerbg .gwidth .nav_left li:nth-of-type(1) a{
        color: red;
    }
</style>
{{/block}}
{{block 'body'}}
<section class="in_ppwh">
    <div class="in_ppwh_1">
        <h2 class="in_ppwh_title">奥诺生物技术</h2>
        <p class="in_ppwh_content">“观前一号国际母婴会所”，隶属于苏州奥诺生物技术有限公司，一家专注于母婴行业，提供专业化，个性化的母婴连锁品牌。打通线上与线下，线上购物，线下体验，连锁经营。真正打造一个F2C+O2O+倍增+分享经济+大数据+科技智能化+连锁经营+消费联盟的一个母婴行业的跨界商业模式，我们打破传统电商运营模式，运用“颠覆”的理念，会员制经营，从商家直接到消费者，没有中间环节，为每一个家庭提供高品质，低价位的综合系列的产品服务。观前一号，已通过国家商标局正式注册商标，品牌创立已有3年历史，起源于“上有天堂，下有苏杭”的苏州古城中心的观前街，是苏州旅游的必去之地。因其地处玄妙观前而得名，得名迄今已有150多年的历史
            <a href="">【查看更多】</a></p>
        <ul>
            <li><img src="/public/img/inabout1.png" alt=""></li>
            <li><img src="/public/img/inabout2.png" alt=""></li>
            <li><img src="/public/img/inabout3.png" alt=""></li>
        </ul>
    </div>
</section>
<section class="in_zycp">
    <ul class="in_produl">
        <li class="in_prodli">
            <a href="">
                <p class="in_prodli_title1">淘萌主</p>
                <p class="in_prodli_title2">高品质 低价位</p>
            </a>
        </li>
        <li class="in_prodli">
            <a href="">
                <p class="in_prodli_title1">奶瓶</p>
                <p class="in_prodli_title2">高品质 低价位</p>
            </a>
        </li>
        <li class="in_prodli">
            <a href="">
                <p class="in_prodli_title1">奶粉</p>
                <p class="in_prodli_title2">高品质 低价位</p>
            </a>
        </li>
    </ul>
    <div class="in_prodcontent">
        <div class="swiper-container indpro">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="swiper-slideli">
                        <div class="in_procl">
                            <h2 class="in_procl_titlt">S26 GOLD奶粉</h2>
                            <p class="in_procl_adv">1、关于澳洲惠氏：容易促进宝宝睡觉，对于睡眠不好的宝宝此奶粉有很 好的效果，该奶粉绝对不同于国产和香港惠氏那么容易上火内热,拥有澳 洲奶粉清淡香醇的特点，口感是澳洲惠氏奶粉一贯的清淡醇厚！</p>
                            <p class="in_procl_adv">2、关于惠氏金装S26二段奶粉：具有大量纯净的乳清蛋白对孩子的睡眠和 大脑发育有很好的促进作用</p>
                            <p class="in_procl_intr">澳洲、新西兰三大品牌婴儿奶粉之一。澳洲原装进口，产地澳洲。 WYETH S26 GOLD ALPHA PRO STEP2 900G 惠氏金装2段奶粉 900克</p>
                            <p class="in_procl_cc">适于：6－12个月的宝宝。</p>
                        </div>
                        <div class="in_procr">
                            <div class="swiper-container inproductb">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide"><a href=""><img src="/public/img/prolunbo.png" alt=""></a></div>
                                    <div class="swiper-slide"><a href=""><img src="/public/img/prolunbo.png" alt=""></a></div>
                                    <div class="swiper-slide"><a href=""><img src="/public/img/prolunbo.png" alt=""></a></div>
                                </div>
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-slideli">
                        <div class="in_procl">
                            <h2 class="in_procl_titlt">S26 GOLD奶粉</h2>
                            <p class="in_procl_adv">1、关于澳洲惠氏：容易促进宝宝睡觉，对于睡眠不好的宝宝此奶粉有很 好的效果，该奶粉绝对不同于国产和香港惠氏那么容易上火内热,拥有澳 洲奶粉清淡香醇的特点，口感是澳洲惠氏奶粉一贯的清淡醇厚！</p>
                            <p class="in_procl_adv">2、关于惠氏金装S26二段奶粉：具有大量纯净的乳清蛋白对孩子的睡眠和 大脑发育有很好的促进作用</p>
                            <p class="in_procl_intr">澳洲、新西兰三大品牌婴儿奶粉之一。澳洲原装进口，产地澳洲。 WYETH S26 GOLD ALPHA PRO STEP2 900G 惠氏金装2段奶粉 900克</p>
                            <p class="in_procl_cc">适于：6－12个月的宝宝。</p>
                        </div>
                        <div class="in_procr">
                            <div class="swiper-container inproductb">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide"><a href=""><img src="/public/img/prolunbo.png" alt=""></a></div>
                                    <div class="swiper-slide"><a href=""><img src="/public/img/prolunbo.png" alt=""></a></div>
                                    <div class="swiper-slide"><a href=""><img src="/public/img/prolunbo.png" alt=""></a></div>
                                </div>
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-slideli">
                        <div class="in_procl">
                            <h2 class="in_procl_titlt">S26 GOLD奶粉</h2>
                            <p class="in_procl_adv">1、关于澳洲惠氏：容易促进宝宝睡觉，对于睡眠不好的宝宝此奶粉有很 好的效果，该奶粉绝对不同于国产和香港惠氏那么容易上火内热,拥有澳 洲奶粉清淡香醇的特点，口感是澳洲惠氏奶粉一贯的清淡醇厚！</p>
                            <p class="in_procl_adv">2、关于惠氏金装S26二段奶粉：具有大量纯净的乳清蛋白对孩子的睡眠和 大脑发育有很好的促进作用</p>
                            <p class="in_procl_intr">澳洲、新西兰三大品牌婴儿奶粉之一。澳洲原装进口，产地澳洲。 WYETH S26 GOLD ALPHA PRO STEP2 900G 惠氏金装2段奶粉 900克</p>
                            <p class="in_procl_cc">适于：6－12个月的宝宝。</p>
                        </div>
                        <div class="in_procr">
                            <div class="swiper-container inproductb">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide"><a href=""><img src="/public/img/prolunbo.png" alt=""></a></div>
                                    <div class="swiper-slide"><a href=""><img src="/public/img/prolunbo.png" alt=""></a></div>
                                    <div class="swiper-slide"><a href=""><img src="/public/img/prolunbo.png" alt=""></a></div>
                                </div>
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>
<section class="in_jmhz">
    <div class="in_jmhzw">
        <div class="in_jmhz_li tt1">
            <h2>连锁品牌</h2>
            <p>一家专注于母婴行业，提供专业化，个性化的母婴连锁品牌。 打通线上与线下，线上购物，线下体验，连锁经营</p>
            <a href="">more</a>
        </div>
        <div class="in_jmhz_li tt2">
            <h2>互联网+母婴</h2>
            <p>一家专注于母婴行业，提供专业化，个性化的母婴连锁品牌。 打通线上与线下，线上购物，线下体验，连锁经营</p>
            <a href="">more</a>
        </div>
        <div class="in_jmhz_li tt3">
            <h2>跨界商业模式</h2>
            <p>一家专注于母婴行业，提供专业化，个性化的母婴连锁品牌。 打通线上与线下，线上购物，线下体验，连锁经营</p>
            <a href="">more</a>
        </div>
        <div class="in_jmhz_li tt4">
            <h2>加盟合作</h2>
            <p>一家专注于母婴行业，提供专业化，个性化的母婴连锁品牌。 打通线上与线下，线上购物，线下体验，连锁经营</p>
            <a href="">more</a>
        </div>
    </div>
</section>
<section class="in_hzpp">
    <ul class="in_hzpp_ul">
        <li><img src="/public/img/hezuo1.png" alt=""></li>
        <li><img src="/public/img/hezuo2.png" alt=""></li>
        <li><img src="/public/img/hezuo3.png" alt=""></li>
        <li><img src="/public/img/hezuo4.png" alt=""></li>
        <li><img src="/public/img/hezuo5.png" alt=""></li>
        <li><img src="/public/img/hezuo6.png" alt=""></li>
        <li><img src="/public/img/hezuo7.png" alt=""></li>
        <li><img src="/public/img/hezuo8.png" alt=""></li>
        <li><img src="/public/img/hezuo9.png" alt=""></li>
        <li><img src="/public/img/hezuo10.png" alt=""></li>
    </ul>
    <a href="">产看更多</a>
</section>

{{/block}}
