{{extend './_layouts/home.html'}}

{{block 'title'}}{{'苏州奥诺生物技术 - 奥诺产品'}}{{/block}}
{{block 'head'}}
<style>
    .headerbg .gwidth .nav_left li:nth-of-type(3) a{
        color: red;
    }
</style>
{{/block}}
{{block 'body'}}
<section class="commonmain">
    <div class="gwidth aonuotitle">
        <img src="/public/img/productaonuobg.png" alt="">
        <p>一家专注于母婴行业，提供专业化，个性化的母婴连锁品牌</p>
    </div>
    <div class="gwidth newscontent">
        <h2>一家专注于母婴行业，提供专业化，个性化的母婴连锁品牌</h2>
        <p>时间：2018-10-10 <span>作者：admin</span></p>
        <div>
            资料准备中
        </div>
    </div>
</section>

{{/block}}
