{{extend './_layouts/home.html'}}

{{block 'title'}}{{'苏州奥诺生物技术 - 奥诺产品'}}{{/block}}
{{block 'head'}}
<style>
    .headerbg .gwidth .nav_left li:nth-of-type(3) a{
        color: red;
    }
</style>
{{/block}}
{{block 'body'}}
<section class="commonmain">
    <div class="gwidth aonuotitle">
        <img src="/public/img/productaonuobg.png" alt="">
        <p>一家专注于母婴行业，提供专业化，个性化的母婴连锁品牌</p>
    </div>
</section>

<section class="gwidth prodaonuo">
    <ul class="prodaonuo_left">
        <li><a href="">淘萌主</a></li>
        <li><a href="">奶瓶</a></li>
        <li><a href="">奶粉</a></li>
    </ul>
    <ul class="prodaonuo_right">
        <li>
            <a href="">
                <img src="/public/img/prolunbo.png" alt="">
                <p>sss</p>
            </a>
        </li>
        <li>
            <a href="">
                <img src="/public/img/prolunbo.png" alt="">
                <p>sss</p>
            </a>
        </li>
        <li>
            <a href="">
                <img src="/public/img/prolunbo.png" alt="">
                <p>sss</p>
            </a>
        </li>
        <li>
            <a href="">
                <img src="/public/img/prolunbo.png" alt="">
                <p>sss</p>
            </a>
        </li>
        <li>
            <a href="">
                <img src="/public/img/prolunbo.png" alt="">
                <p>sss</p>
            </a>
        </li>
    </ul>
</section>

{{/block}}
