<footer class="common_foot">
  <div class="common_footcc">
    <ul class="footer1">
      <li><a href="/">网站首页</a></li>
      <li><a href="/aboutus">品牌文化</a></li>
      <li><a href="/productlist">产品中心</a></li>
      <li><a href="javascript:void(0)">较新活动</a></li>
      <li><a href="/newslist">新闻中心</a></li>
      <li><a href="javascript:void(0)">门店加盟</a></li>
      <li><a href="/contactus">联系我们</a></li>
    </ul>
    <div class="footer_hr"></div>
    <div class="footer_wenzi">
      <div><span>地点:苏州吴中区东方大道988号江苏吴中大厦802</span><span class="t1">电话：0512-67315419</span></div>
      <div><span>手机:156XXXXXXXX</span><span class="t1">联系人：顾经理</span></div>
      <div><span>Copyright 版权所有 ©奥诺生物技术 www.gyyhchina.com <span class="t1">苏州奥诺生物技术有限公司</span></span></div>
    </div>
    <ul class="common_foot_wxul">
      <li>
        <img src="/public/img/footer_wx1.png" alt="" width="113" height="120">
        <p>xx老师</p>
      </li>
      <li>
        <img src="/public/img/footer_wx1.png" alt="" width="113" height="120">
        <p>xx老师</p>
      </li>
      <li>
        <img src="/public/img/footer_wx1.png" alt="" width="113" height="120">
        <p>xx老师</p>
      </li>
    </ul>
    <div class="common_foot_bottom">苏ICP12345678号 <a href="http://www.91hzc.com" target="_blank">技术支持</a>:<a href="http://www.91hzc.com" target="_blank">汇智成科技</a> 所有©苏州奥诺生物技术有限公司</div>
  </div>
</footer>
